.line {
  background-color: #1d78be;
}

@keyframes fadeIndown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  animation-name: fadeIndown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes expandAnimation {
  0% {
    width: 40px;
    transform: translateX(0);
  }
  100% {
    width: 60px;
    transform: translateX(10px);
  }
}

.lineExpand {
  transition: transform 0.3s ease;
  animation: expandAnimation 1s ease forwards;
}

@keyframes compressAnimation {
  0% {
    width: 60px;
    transform: translateX(10px); /* Maintain the same horizontal translation */
  }
  100% {
    width: 40px; /* Maintain full width */
    transform: translateX(0); /* Start with no horizontal translation */
  }
}
/* Apply the animation only when div is hovered */

.lineCompress {
  transition: transform 0.3s ease;
  animation: compressAnimation 1s ease forwards;
}
