.grid {
  display: grid;
  grid-template-columns: 35% 65%;
}
@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 100%;
  }
}
.line {
  background-color: #1d78be;
}
.span1 {
  font-family: "Raleway", sans-serif;
}
.cardHeading {
  font-family: "Noto Sans JP", sans-serif;
}
.cardText {
  font-family: "Noto Sans JP", sans-serif;
  text-align: justify;
}
.rightChildChild {
  width: 80%;
}
@media screen and (max-width: 1450px) {
  .rightChildChild {
    width: 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes expandAnimation {
  0% {
    width: 60px;
    transform: translateX(0);
  }
  100% {
    width: 90px;
    transform: translateX(10px);
  }
}

.lineExpand {
  transition: transform 0.3s ease;
  animation: expandAnimation 1s ease forwards;
}

@keyframes compressAnimation {
  0% {
    width: 90px;
    transform: translateX(10px);
  }
  100% {
    width: 60px;
    transform: translateX(0);
  }
}

.lineCompress {
  transition: transform 0.3s ease;
  animation: compressAnimation 1s ease forwards;
}

.heading {
  font-family: "Inter", sans-serif;
}

.leftChild {
  opacity: 0;
  animation: fadeInAnimation 2s ease forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
