.box1 {
  background-color: #20275c;
}

.box2 {
  background-color: #1d78be;
}
.line {
  background-color: #1d78be;
}
.rightChild {
  height: 100%;
}

.modalOpen {
  overflow: hidden;
}

@keyframes diagonal-move {
  0% {
    transform: translate(50%, 50%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes diagonal-move2 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.box1 {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}
.box2 {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animationbox1 {
  animation-name: diagonal-move;
  opacity: 1;
}

.animationbox2 {
  animation-name: diagonal-move2;
  opacity: 1;
}

@keyframes expandAnimation {
  0% {
    width: 60px;
    transform: translateX(0);
  }
  100% {
    width: 90px;
    transform: translateX(10px);
  }
}

@keyframes compressAnimation {
  0% {
    width: 90px;
    transform: translateX(10px);
  }
  100% {
    width: 60px;
    transform: translateX(0);
  }
}
.lineExpand {
  transition: transform 0.3s ease;
  animation: expandAnimation 1s ease forwards;
}

.lineCompress {
  transition: transform 0.3s ease;
  animation: compressAnimation 1s ease forwards;
}
.span1 {
  font-family: "Raleway", sans-serif;
}
